# Gradle build directories
build/
app/build/
.gradle/

# C++ / JNI build artifacts
.cxx/
*.so
*.dll
*.dylib

# Local configuration files (contains local SDK/NDK paths)
local.properties


project_mapper.py
project_context.txt
.clangd
app/src/main/cpp/third_party/curl/
app/src/main/cpp/third_party/lexbor/